@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?jcj2c5');
    src:    url('fonts/icomoon.eot?jcj2c5#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?jcj2c5') format('truetype'),
        url('fonts/icomoon.woff?jcj2c5') format('woff'),
        url('fonts/icomoon.svg?jcj2c5#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
    content: "\e900";
}
.icon-quill:before {
    content: "\e901";
}
.icon-image:before {
    content: "\e902";
}
.icon-images:before {
    content: "\e903";
}
.icon-camera:before {
    content: "\e904";
}
.icon-headphones:before {
    content: "\e905";
}
.icon-music:before {
    content: "\e906";
}
.icon-bullhorn:before {
    content: "\e907";
}
.icon-mic:before {
    content: "\e908";
}
.icon-price-tag:before {
    content: "\e909";
}
.icon-price-tags:before {
    content: "\e90a";
}
.icon-coin-dollar:before {
    content: "\e90b";
}
.icon-pushpin:before {
    content: "\e90c";
}
.icon-location:before {
    content: "\e90d";
}
.icon-location2:before {
    content: "\e90e";
}
.icon-clock:before {
    content: "\e90f";
}
.icon-clock2:before {
    content: "\e910";
}
.icon-alarm:before {
    content: "\e911";
}
.icon-bell:before {
    content: "\e912";
}
.icon-user:before {
    content: "\e913";
}
.icon-user-plus:before {
    content: "\e914";
}
.icon-hour-glass:before {
    content: "\e915";
}
.icon-spinner:before {
    content: "\e916";
}
.icon-spinner2:before {
    content: "\e917";
}
.icon-spinner3:before {
    content: "\e918";
}
.icon-spinner11:before {
    content: "\e919";
}
.icon-binoculars:before {
    content: "\e91a";
}
.icon-search:before {
    content: "\e91b";
}
.icon-zoom-in:before {
    content: "\e91c";
}
.icon-zoom-out:before {
    content: "\e91d";
}
.icon-key:before {
    content: "\e91e";
}
.icon-wrench:before {
    content: "\e91f";
}
.icon-hammer:before {
    content: "\e920";
}
.icon-bug:before {
    content: "\e921";
}
.icon-power:before {
    content: "\e922";
}
.icon-eye:before {
    content: "\e923";
}
.icon-star-empty:before {
    content: "\e924";
}
.icon-star-half:before {
    content: "\e925";
}
.icon-star-full:before {
    content: "\e926";
}
.icon-heart:before {
    content: "\e927";
}
.icon-plus:before {
    content: "\e928";
}
.icon-minus:before {
    content: "\e929";
}
.icon-checkmark:before {
    content: "\e92a";
}
.icon-checkmark2:before {
    content: "\e92b";
}
.icon-play2:before {
    content: "\e92c";
}
.icon-pause:before {
    content: "\e92d";
}
.icon-stop:before {
    content: "\e92e";
}
.icon-previous:before {
    content: "\e92f";
}
.icon-next:before {
    content: "\e930";
}
.icon-backward:before {
    content: "\e931";
}
.icon-forward2:before {
    content: "\e932";
}
.icon-play3:before {
    content: "\e933";
}
.icon-pause2:before {
    content: "\e934";
}
.icon-stop2:before {
    content: "\e935";
}
.icon-backward2:before {
    content: "\e936";
}
.icon-forward3:before {
    content: "\e937";
}
.icon-first:before {
    content: "\e938";
}
.icon-last:before {
    content: "\e939";
}
.icon-previous2:before {
    content: "\e93a";
}
.icon-next2:before {
    content: "\e93b";
}
.icon-volume-high:before {
    content: "\e93c";
}
.icon-volume-medium:before {
    content: "\e93d";
}
.icon-volume-low:before {
    content: "\e93e";
}
.icon-checkbox-checked:before {
    content: "\e93f";
}
.icon-spotify:before {
    content: "\e940";
}
.icon-appleinc:before {
    content: "\e941";
}
.icon-android:before {
    content: "\e942";
}

