@font-face {
    font-family: 'Walsheim Regular';
    src: url('./assets/fonts/GT-Walsheim-Pro-Regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Walsheim Bold';
    src: url('./assets/fonts/GT-Walsheim-Pro-Bold.woff') format('woff');
    font-display: swap;
}
