.mfw-button {

  white-space: pre-wrap !important;

    &.horizontal-margin {

        margin: 1rem 0;

    }

}

.mfw-position-relative {

  position: relative;

}

.mfw-full-width {

    width: 100%;

}

.mfw-header {
    &.active {
        .mfw-logo {

            path {
                fill: $mfw-style-guide-color-white;
            }
        }
        .mfw-app-nav-item-link {

            color: $mfw-style-guide-color-white;

        }
    }

    .mfw-logo {

        height: $mfw-header-basic-dimensions;
        width: auto;

        &:hover {

            path {

                fill: lighten($mfw-style-guide-color-black, 10%);

            }
        }
    }
}

@include breakpoint($mfw-breakpoint-tablet) {

    .mfw-logo {

        height: $mfw-header-basic-dimensions-768;

    }

}
