<div class="mfw-content slim">
    <div class="mfw-auth">
      <div fxLayout="column" class="mfw-sign-in">
        <div fxFlex=100>
          <div class="mfw-sign-in-title mfw-text large-padding">
            <h1 class="uppercase font-bold font-style-1">
              Hoppla!
            </h1>
          </div>
          <div class="mfw-text large-padding">
            <p class="font-style-3">
              Auf diese Seite hast du zur Zeit keinen Zugriff!
            </p>
          </div>
        </div>
      </div>
    </div>
</div>
