<div fxLayout="column" class="mfw-sign-up">
  <div fxFlex=100>
    <div class="mfw-sign-in-title mfw-text large-padding">
      <h1 class="uppercase font-bold font-style-1">
        Registrieren
      </h1>
    </div>
  </div>
  <div fxFlex=100>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div fxLayout="column" class="mfw-form">
            <mat-form-field  fxFlex=100 class="mfw-text">
              <input required placeholder="Email" matInput type="string" class="font-regular form-control" id="email"
                  formControlName="email" [class.is-invalid]="isInvalid('email')">
            </mat-form-field>
            <div *ngIf="emailControl.invalid && (emailControl.dirty || emailControl.touched)" class="alert alert-danger mfw-text small-padding-bottom">
                <div class="color-tertiary">
                  {{errorMessageEmail}}
                </div>
            </div>
            <mat-form-field  fxFlex=100 class="mfw-form-group">
              <input required matInput placeholder="Passwort" type="password" class="form-control " id="password"
              formControlName="password" [class.is-invalid]="isInvalid('password')" [type]="hide ? 'password' : 'text'">
              <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
            <div *ngIf="passwordControl.invalid && (passwordControl.dirty || passwordControl.touched)" class="alert alert-danger mfw-text small-padding-bottom">
                <div class="color-tertiary">
                  {{errorMessagePassword}}
                </div>
            </div>
          <div fxFlex=100 class="mfw-text large-padding">
            <div class="font-style-2">
              Einige Infos zu dir
            </div>
          </div>
          <mat-form-field  fxFlex=100 class="mfw-text">
            <input required placeholder="Vorname" matInput type="string" class="font-regular form-control" id="firstName"
                   formControlName="firstName" [class.is-invalid]="isInvalid('firstName')">
          </mat-form-field>
          <div *ngIf="firstNameControl.invalid && (firstNameControl.dirty || firstNameControl.touched)" class="alert alert-danger mfw-text small-padding-bottom">
            <div class="color-tertiary">
              {{errorMessageFirstName}}
            </div>
          </div>
          <mat-form-field  fxFlex=100 class="mfw-text">
            <input required placeholder="Nachname" matInput type="string" class="font-regular form-control" id="lastName"
                formControlName="lastName" [class.is-invalid]="isInvalid('lastName')">
          </mat-form-field>
          <div *ngIf="lastNameControl.invalid && (lastNameControl.dirty || lastNameControl.touched)" class="alert alert-danger mfw-text small-padding-bottom">
            <div class="color-tertiary">
              {{errorMessageLastName}}
            </div>
          </div>
          <mat-form-field  fxFlex=100 class="mfw-text">
            <input required placeholder="Geburtsdatum (Beispiel: 12.10.1995)" matInput type="string" class="font-regular form-control" formControlName="birthDate" id="birthDate">
          </mat-form-field>
          <div *ngIf="birthDateControl.invalid && (birthDateControl.dirty || birthDateControl.touched)" class="alert alert-danger mfw-text small-padding-bottom">
            <div class="color-tertiary">
              {{errorMessageBirthDate}}
            </div>
          </div>
          <mat-form-field  fxFlex=100 class="mfw-text">
            <input required placeholder="Telefon" matInput type="string" class="font-regular form-control" id="phone"
                   formControlName="phone" [class.is-invalid]="isInvalid('phone')">
          </mat-form-field>
          <div *ngIf="phoneControl.invalid && (phoneControl.dirty || phoneControl.touched)" class="alert alert-danger mfw-text small-padding-bottom">
            <div class="color-tertiary">
              {{errorMessagePhone}}
            </div>
          </div>
          <mat-form-field  fxFlex=100 class="mfw-text">
            <input placeholder="Addresse" matInput type="string" class="font-regular form-control" formControlName="address" id="address">
          </mat-form-field>
          <div *ngIf="addressControl.invalid && (addressControl.dirty || addressControl.touched)" class="alert alert-danger mfw-text small-padding-bottom">
            <div class="color-tertiary">
              {{errorMessageAddress}}
            </div>
          </div>
          <mat-form-field  fxFlex=100 class="mfw-text">
            <input placeholder="PLZ / Ort" matInput type="string" class="font-regular form-control" formControlName="place" id="place">
          </mat-form-field>
          <div *ngIf="placeControl.invalid && (placeControl.dirty || placeControl.touched)" class="alert alert-danger mfw-text small-padding-bottom">
            <div class="color-tertiary">
              {{errorMessagePlace}}
            </div>
          </div>
          <div>
            <div fxLayout="row">
              <mat-checkbox class="mfw-text large-padding text-wrap-auto" id="policy" formControlName="policy">
                Ich bestätige, dass ich die
                  <a class="mfw-text mfw-text--link" target="_blank" href='https://musikfestwochen.ch/infos/mithelfen/regeln/'>
                    Anforderungen an die Helfer*innen
                  </a>
                gelesen habe
              </mat-checkbox>
            </div>
          </div>
          <button [disabled]="form.invalid || !policyControl.value" class="mfw-button" fxFlex=100 mat-raised-button  type="submit" >Registration abschliessen</button>
      </div>
    </form>
  </div>
</div>
<!-- todo: split this form in two steps: registration and information -->
<!-- todo: fade out form on successful submit and display please verify component -->
