<div class="mfw-content">
  <app-back-button></app-back-button>
  <div *ngIf="shift$ | async as shift" fxLayout="column" class="mfw-shift-detail">
    <div>
      <div class="mfw-text large-padding">
        <h1 class="uppercase font-bold font-style-1">Schicht ad&shy;ministrieren</h1>
      </div>
    </div>
    <app-edit-shift fxLayout="column" [shift]="shift" ></app-edit-shift>
    <ng-container *ngIf="shift.workers.length; else noShifts">
      <div>
        <app-users-worker-list *ngFor="let worker of shift.workers" [shift]="shift" [worker]="worker"></app-users-worker-list>
      </div>
    </ng-container>
    <ng-template #noShifts>
      <div class="mfw-text large-padding">
        Bisher haben sich keine Helfer für diese Schicht angemeldet.
      </div>
    </ng-template>
  </div>
  <app-back-button fxHide.gt-xs></app-back-button>
</div>
