<div fxLayout="column" class="mfw-sign-up">
  <div fxFlex=100>
    <div class="mfw-sign-in-title mfw-text large-padding">
      <h1 class="uppercase font-bold font-style-1">
        Verifiziere deine Email
      </h1>
    </div>
    <div fxLayout="column">
      <div *ngIf="user$ | async as user" class="mfw-text">
        Fast geschafft. Wir haben dir bereits eine Email an <strong>{{user.email}}</strong> gesendet.
      </div>
      <div *ngIf="!(user$ | async)" class="mfw-text">
        Fast geschafft. Wir haben dir bereits eine Email gesendet.
      </div>
      <div class="mfw-text">
        Schliesse die Registrierung ab, indem du auf den Link im Mail klickst.
      </div>
      <button *ngIf="user$ | async" class="mfw-button horizontal-margin" fxFlex=100 mat-raised-button (click)="sendVerificationMail()">
        Verifizierungs-Email erneut senden
      </button>
    </div>
  </div>
</div>
