@import 'functions';
@import 'mixins';
@import 'variables';

.mfw-shifts-per-day-list > *:not(:first-child):not(:last-child) {
  margin: $mfw-style-guide-padding;
}

.mfw-shifts-per-day-list > *:first-child {
  margin-right: $mfw-style-guide-padding;
  margin-top: $mfw-style-guide-padding;
  margin-bottom: $mfw-style-guide-padding;
}

.mfw-shifts-per-day-list > *:last-child {
  margin-left: $mfw-style-guide-padding;
  margin-top: $mfw-style-guide-padding;
  margin-bottom: $mfw-style-guide-padding;
}

