<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <p>{{data.message}}</p>
</div>
<div mat-dialog-actions>
  <button class="mfw-button horizontal-margin" mat-raised-button type="button" (click)="onNoClick()">
    Nein
  </button>
  <button class="mfw-button horizontal-margin" mat-raised-button type="button" [mat-dialog-close]="true"
          cdkFocusInitial>
    Ja
  </button>
</div>


