<div fxLayout="column">
  <div fxFlex=100>
    <div class="mfw-sign-in-title mfw-text large-padding">
      <h1 class="uppercase font-bold font-style-1">
        Neues Ressort erstellen
      </h1>
    </div>
  </div>
  <div fxFlex="100">
    <form (ngSubmit)="onSubmit()" #ressortFormGroupDirective [formGroup]="ressortForm">
      <div fxLayout="column" class="mfw-form">
        <mat-form-field class="mfw-text" fxFlex=100>
          <input placeholder="Titel" matInput type="string" class="font-regular" form-control id="title"
                 formControlName="title" #titleInput>
        </mat-form-field>
        <div *ngIf="titleControl.invalid && (titleControl.dirty || titleControl.touched)"
             class="alert alert-danger mfw-text small-padding-bottom">
          <div class="color-tertiary">
            {{errorMessageTitle}}
          </div>
        </div>
        <mat-form-field class="mfw-text" fxFlex=100>
          <textarea rows="5" placeholder="Beschreibung" matInput type="string" class="font-regular" form-control id="description"
                 formControlName="description" #descriptionInput></textarea>
        </mat-form-field>
        <div *ngIf="descriptionControl.invalid && (descriptionControl.dirty || descriptionControl.touched)"
             class="alert alert-danger mfw-text small-padding-bottom">
          <div class="color-tertiary">
            {{errorMessageDescription}}
          </div>
        </div>
        <mat-form-field class="mfw-text" fxFlex=100>
          <input placeholder="Email" matInput type="string" class="font-regular" form-control id="email"
                 formControlName="email" #emailInput>
        </mat-form-field>
        <div *ngIf="emailControl.invalid && (emailControl.dirty || emailControl.touched)"
             class="alert alert-danger mfw-text small-padding-bottom">
          <div class="color-tertiary">
            {{errorMessageEmail}}
          </div>
        </div>
        <div>
          <div fxLayout="row">
            <mat-checkbox id="visibility" formControlName="visibility" #visibilityInput>
              Ressort auf der Startseite sichtbar
            </mat-checkbox>
          </div>
        </div>
        <div>
          <div fxLayout="row wrap">
            <div class="mfw-text large-padding" fxFlex="100">
              <p class="uppercase font-bold font-style-2">
                Zustäzliche Informationen verlangen
              </p>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="25%" *ngFor="let additionalField of additionalFieldInitData">
              <div fxFlex="initial">
                <mat-checkbox id="{{additionalField.id}}" formControlName="{{additionalField.id}}">
                  {{additionalField.name}}
                </mat-checkbox>
              </div>
            </div>
          </div>
        </div>
        <div fxFlex="100">
          <button class="mfw-button horizontal-margin" fxFlex.xs="100" mat-raised-button type="submit" [disabled]="!ressortForm.valid">Erstellen</button>
        </div>
      </div>
    </form>
  </div>
</div>
