@import 'functions';
@import 'mixins';
@import 'variables';

.mfw-back-button-container {

  display: flex;
  width: auto;

}

.mfw-back-button-icon {

  font-size: to-rem(30px);
  padding-right: $mfw-style-guide-padding;

}

@include breakpoint($mfw-breakpoint-tablet) {

  .mfw-back-button {

    cursor: pointer;

    &:hover {

      margin-left: to-rem(-5px);

    }

  }

}
