<mat-list class="mfw-shift">
  <div class="mfw-shift-grid-list" *ngFor="let shift of shifts" fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="space-around center">
    <div *ngIf="showRessort" fxFlex="100%" class="mfw-shift-grid-tile">
      <div class="mfw-text">
        <p class="font-style-4 font-bold uppercase">
          {{(getRessort(shift.ressortId) | async).title}}
        </p>
      </div>
    </div>
    <div *ngIf="shift.title" fxFlex="100%" class="mfw-shift-grid-tile">
      <div class="mfw-text">
        <p class="font-style-4 font-bold">
          {{shift.title}}
        </p>
      </div>
    </div>
    <div fxFlex class="mfw-shift-grid-tile">
      <p *ngIf="showDate" class="font-style-4">
        {{shift.start.toDate() | date:'dd.MM.yyyy'}} {{shift.start.toDate() | date:'HH:mm'}} - {{shift.end.toDate() | date:'HH:mm'}}
      </p>
      <p *ngIf="!showDate" class="font-style-4">
        {{shift.start.toDate() | date:'HH:mm'}} -{{shift.end.toDate() | date:'HH:mm'}}
      </p>
    </div>
    <div *ngIf="isAdmin$ | async" fxFlex class="mfw-shift-grid-tile">
      <div fxLayout="row" fxLayoutAlign="center center">
        <p class="font-style-4">
          {{shift.workers.length}} / {{shift.noOfWorker}}
        </p>
      </div>
    </div>
    <div fxFlex class="mfw-shift-grid-tile">
      <div fxLayout="row" fxLayoutAlign="flex-end center">
        <ng-container *ngIf="isAdmin$ | async; else helperView">
          <button class="mfw-button" mat-icon-button type="button"
                  (click)="removeShift(shift)" matTooltip="Schicht löschen">
            <mat-icon>delete</mat-icon>
          </button>
          <button (click)="navigateToShiftDetail(shift.id)" class="mfw-button" mat-icon-button
                  type="button"
                  matTooltip="Schicht administrieren">
            <mat-icon>playlist_add_check</mat-icon>
          </button>
        </ng-container>
        <ng-template  #helperView>
          <ng-container *ngIf="user$ | async as user; else loginLink">
            <ng-container *ngIf="!isWorkerConfirmedForShift(shift, this.user.uid); else registeredForConfirmedShift">
            <button class="mfw-button" mat-icon-button type="button">
                <mat-icon
                  matTooltip="Für Schicht anmelden"
                  *ngIf="!isWorkerRegisteredForShift(shift, this.user.uid); else registeredForShift"
                  (click)="openDialog(ressortTitle, shift, this.user.uid, true)">
                  check_box_outline_blank
                </mat-icon>
                <ng-template #registeredForShift>
                  <mat-icon
                          matTooltip="Für Schicht abmelden"
                    (click)="openDialog(ressortTitle, shift, this.user.uid, false)">
                    check_box
                  </mat-icon>
                </ng-template>
            </button>
            </ng-container>
          </ng-container>
        </ng-template>
      </div>
    </div>
  </div>
  <div *ngIf="shifts.length===0">
    <div class="mfw-text large-padding">
      <div class="text-align-center">
        Keine Schichten vorhanden
      </div>
    </div>
  </div>
</mat-list>

<ng-template #loginLink>
  <button class="mfw-button" mat-icon-button type="button">
    <mat-icon
            matTooltip="Zum Login navigieren"
            (click)="navigateToLogin()">
      check_box_outline_blank
    </mat-icon>
  </button>
</ng-template>


<ng-template #registeredForConfirmedShift>
  <div class="mfw-text equal-mini-padding-horizontal">
    Schicht bestätigt <3
  </div>
</ng-template>