@import 'functions';
@import 'mixins';
@import 'variables';

.mfw-shift {

}

.mfw-shift-grid-list {
  height: 100%;
  margin: $mfw-style-guide-padding 0;
  padding: $mfw-style-guide-padding;
  box-shadow: 1px 1px 3px $mfw-style-guide-color-black-85-opacity;
}

