<app-header></app-header>
<div class="mfw-wrapper">
  <div class="mfw-page-background-wrapper">
    <div class="mfw-page-background">
    </div>
  </div>
  <div class="mfw-base-container">
    <router-outlet></router-outlet>
  </div>
</div>
