<div fxLayout="column" class="mfw-sign-in">
  <div fxFlex=100>
    <div class="mfw-sign-in-title mfw-text large-padding">
      <h1 class="uppercase font-bold font-style-1">
        Login
      </h1>
    </div>
  </div>
  <div fxFlex=100>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div fxLayout="column" class="mfw-form">
          <mat-form-field  fxFlex=100 class="mfw-text">
            <input placeholder="Email" matInput type="string" class="font-regular form-control" id="email"
                formControlName="email" [class.is-invalid]="isInvalid('email')">
          </mat-form-field>
          <div *ngIf="emailControl.invalid && (emailControl.dirty || emailControl.touched)" class="alert alert-danger mfw-text small-padding-bottom">
              <div class="color-tertiary">
                {{errorMessageEmail}}
              </div>
          </div>
          <mat-form-field  fxFlex=100 class="mfw-form-group">
            <input matInput placeholder="Passwort" type="password" class="form-control " id="password"
            formControlName="password" [class.is-invalid]="isInvalid('password')" [type]="hide ? 'password' : 'text'">
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <div *ngIf="passwordControl.invalid && (passwordControl.dirty || passwordControl.touched)" class="alert alert-danger mfw-text small-padding-bottom">
              <div class="color-tertiary">
                {{errorMessagePassword}}
              </div>
          </div>
          <button fxFlex=100 mat-raised-button [disabled]="form.invalid" type="submit" class="mfw-button horizontal-margin">Jetzt anmelden</button>
          <a routerLink="/{{authRoutesNames.SIGN_UP}}" class="hover-underline">Noch keinen Account? Hier Registrieren</a>
          <a routerLink="/{{authRoutesNames.RESET_PASSWORD}}" class="hover-underline">Passwort vergessen? Hier zurücksetzen</a>
      </div>
    </form>
  </div>
</div>
