<div class="mfw-content slim">
  <app-back-button></app-back-button>
  <div class="mfw-user-profile">
    <div fxLayout="column">
      <div fxFlex=100>
        <div class="mfw-text large-padding">
          <h1 class="uppercase font-bold font-style-2">
            Angaben ergänzen
          </h1>
        </div>
        <div class="mfw-text small-padding-bottom">
          <p class="font-style-4">
            Damit wir dich besser einteilen können, sind wir sehr froh, wenn du noch ein paar detaillierte Infos erfassen kannst.
          </p>
        </div>
        <div class="mfw-text small-padding-bottom">
          <p class="font-style-4">
            Natürlich kannst du diese jederzeit in deinem Profil ändern.
          </p>
        </div>
        <div class="mfw-text small-padding-bottom">
          <p class="font-style-4">
            <span class="uppercase font-bold">Obacht:</span> Bitte schreib auf jeden Fall überall was hin, auch wenn es nur "keine" oder "nichts" ist.
          </p>
        </div>
      </div>
      <div *ngIf="ressort$ | async as ressort" fxFlex=100>
        <div fxFlex ="100">
          <form [formGroup]="form" (ngSubmit)="onSubmit(ressort)">
            <div fxLayout="column" class="mfw-form">
              <app-additional-fields [parentForm]="form" [requiredAdditionalFields]="isRequired(ressort)"></app-additional-fields>
              <button [disabled]="form.invalid" class="mfw-button" fxFlex=100 mat-raised-button  type="submit" class="">Speichern</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <app-back-button fxHide.gt-xs></app-back-button>
</div>
