<div class="mfw-content">
  <app-back-button></app-back-button>
  <div fxLayout="column" *ngIf="ressort$ | async as ressort">
    <div fxFlex=100>
      <div fxLayout="row wrap" class="mfw-ressort-title mfw-text large-padding">
        <h1 id="ressortDetail_title" class="uppercase font-bold font-style-1">{{ressort.visibility ? '' : 'Privat: '}}{{ressort.title}}</h1>
        <button *ngIf="isAdmin$ | async" class="mfw-ressort-icon-button mfw-button" mat-icon-button type="button"
                (click)="openDialog(ressort)" matTooltip="Ressort löschen">
          <mat-icon>delete</mat-icon>
        </button>
        <button *ngIf="isAdmin$ | async" class="mfw-ressort-icon-button mfw-button" mat-icon-button type="button"
                (click)="editRessort(ressort)" matTooltip="Ressort bearbeiten">
          <mat-icon>edit</mat-icon>
        </button>
        <ng-container *ngIf="shifts$ | async as shifts">
          <ng-container *ngIf="!shifts.length">
            <div fxFlex="100" class="mfw-text small-padding-top">
            <span class="font-style-3">
              Bisher sind noch keine Schichten erstellt worden.
            </span>
            </div>
          </ng-container>
        </ng-container>
      </div>
      <div *ngIf="ressort.email" class="mfw-text">
        <a class="font-style-5" href="mailto:{{ressort.email}}">{{ressort.email}}</a>
      </div>
      <div class="mfw-text large-padding">
        <p class="font-style-5">{{ressort.description}}</p>
      </div>
    </div>
    <ng-container *ngIf="isAdmin$ | async">
      <ng-container *ngIf="shifts$ | async as shifts">
        <ng-container *ngIf="shifts.length">
          <div fxFlex="100" class="mfw-text small-padding-top">
            <span class="font-style-5">
              Anmeldungen des Ressorts {{ressort.title}} exportieren
            </span>
          </div>
          <app-users-export-wrapper
            *ngIf="getWorkers(shifts)"
            [shifts]="shifts"
            [usersOnly]="true"
            fxFlex="100"
          ></app-users-export-wrapper>
        </ng-container>
      </ng-container>
    </ng-container>
    <div fxFlex=100>
      <div fxLayout="column">
        <app-create-shift *ngIf="isAdmin$ | async" fxLayout="column" [ressortId]="ressort.id" ></app-create-shift>
        <app-calendar *ngIf="shifts$ | async as shifts" [ressort]="ressort" [shifts]="shifts"></app-calendar>
      </div>
    </div>
  </div>
  <app-back-button fxHide.gt-xs></app-back-button>
</div>
