@import 'functions';
@import 'mixins';
@import 'variables';


@include breakpoint($mfw-breakpoint-desktop) {

  .mfw-ressort-icon-button {
    font-size: $mfw-style-guide-padding-3x;
    line-height: $mfw-style-guide-padding-3x;
    width: $mfw-style-guide-padding-3x;
    height: $mfw-style-guide-padding-3x;

    .mat-icon {
      font-size: $mfw-style-guide-padding-3x;
      line-height: $mfw-style-guide-padding-3x;
      width: $mfw-style-guide-padding-3x;
      height: $mfw-style-guide-padding-3x;
    }

    &:first-of-type {
      margin-left: $mfw-style-guide-padding;
    }
  }
}
