<div class="mfw-content">
  <div fxLayout="column">
    <div fxFlex=100 class="mfw-text large-padding">
      <h1 class="uppercase font-bold font-style-1">Seite nicht gefunden</h1>
    </div>
  </div>
</div>
