<div fxLayout="column">
    <div fxFlex="100" class="mfw-text small-padding-top">
      <span class="font-style-5">
        Anmeldungen des ausgewählten Tages exportieren
      </span>
    </div>
    <ng-container *ngIf="shifts">
        <app-users-export-wrapper
            *ngIf="getWorkers(shifts); else noWorkers"
            [shifts]="shifts"
            [usersOnly]="false"
            fxFlex="100"
        ></app-users-export-wrapper>
    </ng-container>
    <ng-template #noWorkers>
        <div fxFlex="100" class="mfw-text large-padding">
          <span class="font-style-3">
            Bisher sind noch keine Anmeldungen eingegangen.
          </span>
        </div>
    </ng-template>
</div>
