@import 'functions';
@import 'mixins';
@import 'variables';

.mfw-header {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: $mfw-style-guide-layer-4;
    background-color: $mfw-style-guide-color-white;
    box-shadow: 0px -3px 15px $mfw-style-guide-color-black;

    &.active {

        height: 100%;
        overflow-y: scroll;
        color: $mfw-style-guide-color-white;

        .mfw-nav-toggle {

            height: $mfw-header-basic-dimensions;

            .bar {

                background-color: $mfw-style-guide-color-white;

                &.top {

                    transform: rotate(45deg) translateY(calc(3.5px - 50%));
                    top: calc(50% - 3.5px);
                    position: absolute;

                }

                &.center {

                    opacity: 0;

                }

                &.bottom {

                    transform: rotate(-45deg) translateY(calc(3.5px - 50%));
                    top: calc(50% - 3.5px);
                    position: absolute;

                }

            }

        }

        .mfw-nav-label {

            display: none;

        }

        .mfw-nav-full {

            display: block;

        }

    }

}

.mfw-header-container {

    padding: $mfw-header-container-padding;

}

.mfw-header-content {

    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;

}

.mfw-header-logo {

    flex: 1 0 auto;

}

.mfw-sub-nav-items {

    display: flex;

}

.mfw-nav-toggle {

    width: $mfw-header-basic-dimensions;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .bar {

        position: relative;
        height: 7px;
        margin-bottom: 7px;
        width: 100%;
        background-color: $mfw-style-guide-color-black;

    }

}

.mfw-nav {

    cursor: pointer;
    position: absolute;
    right: 0;
    height: $mfw-header-basic-dimensions;

    &, & * {

        transition: all 0.3s ease;

    }

}


.mfw-nav-full {

    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100vH;
    z-index: $mfw-style-guide-layer-0;

}

.mfw-nav-background {

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $mfw-header-nav-background-color;

}

.mfw-nav-content {

    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: $mfw-header-nav-content-margin;

}


.mfw-nav-item-link {

    color: $mfw-style-guide-color-white;
    font-size: $mfw-header-nav-font-size;
    text-transform: uppercase;
    font-family: Walsheim Bold;

}

.mfw-nav-sub-item-link {

    color: $mfw-style-guide-color-white;
    font-size: $mfw-header-nav-sub-items-font-size;
    text-transform: uppercase;
    font-family: Walsheim Bold;

}

.mfw-nav-label {

    font-family: Walsheim Bold;
    font-size: $mfw-header-nav-toggle-label-font-size;

}

@include breakpoint($mfw-breakpoint-tablet) {

    .mfw-header {

        &.active {

            .mfw-nav-toggle {

                height: $mfw-header-basic-dimensions-768;

            }

        }

    }

    .mfw-header-container {

        padding: $mfw-header-container-padding-768;

    }


    // .mfw-logo {

    //     height: $mfw-header-basic-dimensions-768;

    // }

    .mfw-nav {

        height: $mfw-header-basic-dimensions-768;

    }

    .mfw-nav-toggle {

        width: $mfw-header-basic-dimensions-768;

    }

    .mfw-nav-label {

        font-size: $mfw-header-nav-toggle-label-font-size-768;

    }

    .mfw-nav-item-link {

        font-size: $mfw-header-nav-font-size-768;

    }

    .mfw-nav-sub-item-link {

        font-size: $mfw-header-nav-sub-items-font-size-768;

    }

}

@include breakpoint ($mfw-breakpoint-desktop) {

    .mfw-nav-item-link {

        font-size: $mfw-header-nav-font-size-1200;

    }

    .mfw-nav-sub-item-link {

        font-size: $mfw-header-nav-sub-items-font-size-1200;

    }

}
