<header>
    <div class="mfw-header" [ngClass]="navActive ? 'active' : ''">
        <div class="mfw-header-container">
            <div class="mfw-header-content">
                <div class="mfw-header-logo">
                    <a routerLink="{{this.ressortRoutesNames.BASE}}" [inlineSVG]="'./assets/icons/logo.svg'">
                    </a>
                </div>
                <app-nav fxHide="true" fxHide.gt-sm="false"></app-nav>
                <div class="mfw-nav" (click)="toggleNav()">
                    <div class="mfw-nav-toggle">
                        <div class="bar top"></div>
                        <div class="bar center"></div>
                        <div class="bar bottom"></div>
                    </div>
                    <div class="mfw-nav-label uppercase">
                        MENU
                    </div>
                </div>
            </div>
        </div>
        <div class="mfw-nav-full">
            <div class="mfw-nav-background">
            </div>
            <div class="mfw-nav-content">
                <ul class="mfw-nav-items">
                    <app-nav fxHide="true" fxHide.xs="false" fxHide.sm="false" (click)="toggleNav()"></app-nav>
                    <li class="mfw-nav-item">
                        <a class="mfw-nav-item-link" href="https://musikfestwochen.ch/winterschlaf/">Programm</a></li>
                    <li  class="mfw-nav-item">
                        <a class="mfw-nav-item-link" href="https://musikfestwochen.ch/galerie/">Galerie</a></li>
                    <li  class="mfw-nav-item">
                        <a class="mfw-nav-item-link" href="https://musikfestwochen.ch/infos/">Infos</a>
                    <ul class="mfw-nav-sub-items">
                        <li class="mfw-nav-sub-item"><a class="mfw-nav-sub-item-link" href="https://musikfestwochen.ch/infos/verein/">Verein Musikfestwochen</a></li>
                        <li class="mfw-nav-sub-item"><a class="mfw-nav-sub-item-link" href="https://musikfestwochen.ch/mfw-oekologie/">Ökologie</a></li>
                        <li class="mfw-nav-sub-item"><a class="mfw-nav-sub-item-link" href="https://musikfestwochen.ch/infos/coucoukunst/">#coucou­kunst</a></li>
                        <li class="mfw-nav-sub-item"><a class="mfw-nav-sub-item-link" href="https://musikfestwochen.ch/infos/mithelfen/">Mithelfen</a></li>
                    </ul>
                    </li>
                    <li class="mfw-nav-item"><a class="mfw-nav-item-link" href="https://musikfestwochen.ch/mfw-news/">NEWS</a></li>
                    <li class="mfw-nav-item"><a class="mfw-nav-item-link" href="https://musikfestwochen.ch/danke/">Danke!</a>
                    <ul class="mfw-nav-sub-items">
                        <li class="mfw-nav-sub-item"><a class="mfw-nav-sub-item-link" href="https://musikfestwochen.ch/mfw-partner/">Partnerschaften</a></li>
                        <li class="mfw-nav-sub-item"><a class="mfw-nav-sub-item-link" href="https://musikfestwochen.ch/mfw-partner/support-us/">Support us!</a></li>
                    </ul>
                    </li>
                    <li class="mfw-nav-item"><a class="mfw-nav-item-link" href="https://musikfestwochen.ch/kontakt/">Kontakt</a>
                    <ul class="mfw-nav-sub-items">
                        <li class="mfw-nav-sub-item"><a class="mfw-nav-sub-item-link" class="mfw-nav-sub-item-link" href="https://musikfestwochen.ch/extranet/">Extranet</a></li>
                    </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
