<div class="mfw-shifts-per-month">
  <div fxLayout="row" fxLayoutAlign="center center" class="mfw-shifts-per-month-header">
    <div fxFlex="initial">
      <button class="mfw-calendar-button" mat-button type="button" matTooltip="Vorheriger Monat" (click)="displayPreviousMonth()">
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
    </div>
    <div fxFlex="grow">
      <div class="mfw-text large-padding">
        <div class="text-align-center font-style-2">
          {{currentMonthName}}
        </div>
      </div>
    </div>
    <div fxFlex="initial">
      <button class="mfw-calendar-button" mat-button type="button" matTooltip="Nächster Monat" (click)="displayNextMonth()">
        <mat-icon>arrow_forward_ios</mat-icon>
      </button>
    </div>
  </div>
  <div class="mfw-shifts-per-month-body">
    <div class="mfw-shifts-per-month-list">
      <div fxLayout="row wrap">
        <div fxFlex="14.28%"
             *ngFor="let label of weekDayLabels"
        >
          <div class="mfw-shifts-per-month-list-item mfw-shifts-per-month-list-item--no-cursor">
            <div class="mfw-text">
              <div class="text-align-center font-style-4 font-bold">
                {{label}}
              </div>
            </div>
          </div>
        </div>
        <div fxFlex="14.28%"
             *ngFor="let emptyCalendarEntry of emptyCalendarEntries"
        >
          <div class="mfw-shifts-per-month-list-item mfw-shifts-per-month-list-item--no-cursor">
          </div>
        </div>
        <div fxFlex="14.28%"
             *ngFor="let day of currentMonthArray"
             class="mfw-shifts-per-month-list-item-highlighting"
             [ngClass]="{
                'shifts-available': currentMonthDaysWithShifts.includes(day),
                'current': currentShiftDate.getDate() === day
              }"
             (click)="displayClickedDay(day)"
        >
          <div class="mfw-shifts-per-month-list-item">
            <div class="mfw-text">
              <div class="text-align-center font-style-3">
                {{day}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
