@import 'functions';
@import 'mixins';
@import 'variables';

.mfw-app-nav-item-link {
  font-size: $mfw-header-nav-font-size;
  font-family: Walsheim Bold;
}

@include breakpoint($mfw-breakpoint-tablet) {

  .mfw-app-nav {
    position: absolute;
    margin: $mfw-header-static-nav-margin-768;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
  }

  .mfw-app-nav-items {
    display: flex;
  }

  .mfw-app-nav-item {
    margin-left: 40px;
    cursor: pointer;

  }

  .mfw-app-nav-item-link {
    font-size: $mfw-header-nav-toggle-label-font-size-768;
  }
}
