<div class="mfw-content">
  <app-back-button></app-back-button>
  <div class="mfw-text large-padding">
    <h1 class="uppercase font-bold font-style-1">Meine Schichten</h1>
  </div>
  <div *ngIf="user$ | async as user">
    <ng-container *ngIf="(getShiftsForUser(user.uid, true) | async)?.length!=0 || (getShiftsForUser(user.uid, false) | async)?.length!=0; else noShifts">
      <div class="mfw-my-shifts">
      <ng-container *ngIf="getShiftsForUser(user.uid, true) | async as confirmedShifts">
        <ng-container *ngIf="confirmedShifts.length !=0">
          <app-shift-list [showRessort]="true" [showDate]="true" [shifts]="confirmedShifts"></app-shift-list>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="getShiftsForUser(user.uid, false) | async as unconfirmedShifts">
        <ng-container *ngIf="unconfirmedShifts.length !=0">
          <div class="mfw-text small-padding-top">
            <p class="font-style-3">Diese Schichten müssen noch bestätigt werden.</p>
          </div>
            <app-shift-list [showRessort]="true" [showDate]="true" [shifts]="unconfirmedShifts"></app-shift-list>
        </ng-container>
      </ng-container>
      </div>
    </ng-container>
    <ng-template #noShifts>
      <div fxFlex="100" class="mfw-text large-padding">
        <span class="font-style-3">
          Du hast dich noch für keine Schichten angemeldet.
        </span>
      </div>
    </ng-template>
  </div>
</div>
