<div class="mfw-content slim">
  <app-back-button></app-back-button>
  <div class="mfw-user-profile">
    <div fxLayout="column">
      <div fxFlex=100>
        <div class="mfw-sign-in-title mfw-text large-padding">
          <h1 class="uppercase font-bold font-style-1">
            Profil ändern
          </h1>
        </div>
      </div>
      <div fxFlex=100>
        <div fxFlex ="100">
          <form [formGroup]="form" (ngSubmit)="onSubmit(user.uid)">
            <div fxLayout="column" class="mfw-form">
              <mat-form-field  fxFlex=100 class="mfw-text">
                <input required placeholder="Vorname" matInput type="string" class="font-regular form-control" id="firstName"
                       formControlName="firstName" [class.is-invalid]="isInvalid('firstName')">
              </mat-form-field>
              <div *ngIf="firstNameControl.invalid && (firstNameControl.dirty || firstNameControl.touched)" class="alert alert-danger mfw-text small-padding-bottom">
                <div class="color-tertiary">
                  {{errorMessageFirstName}}
                </div>
              </div>
              <mat-form-field  fxFlex=100 class="mfw-text">
                <input required placeholder="Nachname" matInput type="string" class="font-regular form-control" id="lastName"
                       formControlName="lastName" [class.is-invalid]="isInvalid('lastName')">
              </mat-form-field>
              <div *ngIf="lastNameControl.invalid && (lastNameControl.dirty || lastNameControl.touched)" class="alert alert-danger mfw-text small-padding-bottom">
                <div class="color-tertiary">
                  {{errorMessageLastName}}
                </div>
              </div>
              <mat-form-field  fxFlex=100 class="mfw-text">
                <input required placeholder="Geburtsdatum (Beispiel: 12.10.1995)" matInput type="string" class="font-regular form-control" formControlName="birthDate" id="birthDate">
              </mat-form-field>
              <div *ngIf="birthDateControl.invalid && (birthDateControl.dirty || birthDateControl.touched)" class="alert alert-danger mfw-text small-padding-bottom">
                <div class="color-tertiary">
                  {{errorMessageBirthDate}}
                </div>
              </div>
              <mat-form-field  fxFlex=100 class="mfw-text">
                <input required placeholder="Telefon" matInput type="string" class="font-regular form-control" id="phone"
                       formControlName="phone" [class.is-invalid]="isInvalid('phone')">
              </mat-form-field>
              <div *ngIf="phoneControl.invalid && (phoneControl.dirty || phoneControl.touched)" class="alert alert-danger mfw-text small-padding-bottom">
                <div class="color-tertiary">
                  {{errorMessagePhone}}
                </div>
              </div>
              <mat-form-field  fxFlex=100 class="mfw-text">
                <input placeholder="Addresse" matInput type="string" class="font-regular form-control" formControlName="address" id="address">
              </mat-form-field>
              <div *ngIf="addressControl.invalid && (addressControl.dirty || addressControl.touched)" class="alert alert-danger mfw-text small-padding-bottom">
                <div class="color-tertiary">
                  {{getErrorMessageTooManyChars()}}
                </div>
              </div>
              <mat-form-field  fxFlex=100 class="mfw-text">
                <input placeholder="PLZ / Ort" matInput type="string" class="font-regular form-control" formControlName="place" id="place">
              </mat-form-field>
              <div *ngIf="placeControl.invalid && (placeControl.dirty || placeControl.touched)" class="alert alert-danger mfw-text small-padding-bottom">
                <div class="color-tertiary">
                  {{getErrorMessageTooManyChars()}}
                </div>
              </div>
              <app-additional-fields [parentForm]="form"></app-additional-fields>
              <button [disabled]="form.invalid" class="mfw-button" fxFlex=100 mat-raised-button  type="submit" class="">Speichern</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <app-back-button fxHide.gt-xs></app-back-button>
</div>
