@import 'functions';
@import 'mixins';
@import 'variables';

.mfw-user-profile {

}

.mfw-edit-button {

  position: absolute;
  top: 0;
  right: 0;

}


.mfw-user-profile-name {

  padding-right: $mfw-style-guide-padding-2x;

}


@include breakpoint($mfw-breakpoint-tablet) {

  .mfw-edit-button {

    right: $mfw-style-guide-padding;

  }
}
